.step-box {
  width: 200px;
  height: 74px;
  padding: 4px;
  color: #36a5a4;
  background-color: #fff;
  border: 2px solid #36a5a4;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.99;

  .step-header {
    display: flex;
    align-items: center;

    .step-title {
      font-size: 16px;
    }

    .step-status {
      margin-left: 12px;
    }
  }
}

.step-box_disabled {
  background: #c2c8d5;
}
