.commonTabsSty {
  :global {
    .ant-pro-page-container-children-content {
      padding: 0 24px 0;
      background-color: #fff;
    }
  }
}

.commonTips {
  display: block;
  margin-bottom: 24px;
  color: #00000073;
  font-weight: 400;
  font-size: 14px;
  font-family: 'PingFang SC';
}
