.title {
  font-size: 18px;
  padding: 12px 0;
}

.page-bg {
  background-color: #FFF;
  height: calc(100vh - 170px);
  overflow: auto;
  padding: 12px;
}


.paget-context {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  padding: 12px;
}

.page-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 120px;
}

.course-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 362px;
  height: 132px;
  border-radius: 4px;
  border: 1px solid #0000000f;
  margin: 0 24px 24px 0;
  padding: 16px;
  background: #FFF;
  overflow: hidden;
  padding-right: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px 0 #00000014, 0 9px 28px 8px #0000000d;
  }

  .course-pic {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 8px;
  }

  .box {

    display: flex;
    flex-direction: column;

    .course-title {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.85);
      overflow: hidden; // 溢出隐藏
      white-space: nowrap; // 强制一行
      text-overflow: ellipsis; // 文字溢出显示省略号
    }

    .context {
      display: flex;
      flex: 1 1 auto;
      padding: 8px 0;
      min-height: 60px;
    }

    .context-bottom {
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 10px;

      span {
        margin-left: 8px;
        flex-shrink: 0;
        white-space: nowrap;
      }
    }
  }


}
